PROJECT_NAME=TouriBook API
API_V1_PREFIX=/api/v1
ENVIRONMENT=development

POSTGRES_USER=touribook
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=touribook

JWT_SECRET_KEY=SBNZv6nsevYR-3PHNg9_5L0Ge4APEfxqSDaNfL0uVnqrTofysImTWO3gg75kHfAxXwF0ZqEpqeE1AipDYj9qdQ
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_DAYS=7

BACKEND_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
