BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> ae41889d5623

CREATE TABLE categories (
    id SERIAL NOT NULL, 
    nom VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (nom)
);

CREATE TABLE promo_codes (
    id SERIAL NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    reduction FLOAT NOT NULL, 
    date_expiration DATE NOT NULL, 
    actif BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_promo_codes_code ON promo_codes (code);

CREATE TYPE userrole AS ENUM ('tourist', 'admin');

CREATE TABLE users (
    id SERIAL NOT NULL, 
    nom VARCHAR(100) NOT NULL, 
    prenom VARCHAR(100) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    mot_de_passe VARCHAR(255) NOT NULL, 
    role userrole NOT NULL, 
    preferences TEXT, 
    date_inscription TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE TABLE activities (
    id SERIAL NOT NULL, 
    titre VARCHAR(200) NOT NULL, 
    description TEXT NOT NULL, 
    prix FLOAT NOT NULL, 
    duree INTEGER NOT NULL, 
    localisation VARCHAR(255) NOT NULL, 
    latitude FLOAT, 
    longitude FLOAT, 
    photos TEXT, 
    category_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(category_id) REFERENCES categories (id)
);

CREATE TABLE availabilities (
    id SERIAL NOT NULL, 
    activity_id INTEGER NOT NULL, 
    date DATE NOT NULL, 
    heure TIME WITHOUT TIME ZONE NOT NULL, 
    places_disponibles INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(activity_id) REFERENCES activities (id)
);

CREATE TABLE favorites (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    activity_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(activity_id) REFERENCES activities (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    CONSTRAINT uq_user_activity_fav UNIQUE (user_id, activity_id)
);

CREATE TABLE reviews (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    activity_id INTEGER NOT NULL, 
    note INTEGER NOT NULL, 
    commentaire TEXT, 
    date TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(activity_id) REFERENCES activities (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TYPE bookingstatus AS ENUM ('pending', 'confirmed', 'cancelled');

CREATE TABLE bookings (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    activity_id INTEGER NOT NULL, 
    availability_id INTEGER NOT NULL, 
    promo_code_id INTEGER, 
    date_reservation TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    statut bookingstatus NOT NULL, 
    qr_code VARCHAR(255), 
    montant_total FLOAT NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(activity_id) REFERENCES activities (id), 
    FOREIGN KEY(availability_id) REFERENCES availabilities (id), 
    FOREIGN KEY(promo_code_id) REFERENCES promo_codes (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TYPE paymenttype AS ENUM ('full', 'deposit');

CREATE TYPE paymentstatus AS ENUM ('pending', 'succeeded', 'failed');

CREATE TABLE payments (
    id SERIAL NOT NULL, 
    booking_id INTEGER NOT NULL, 
    montant FLOAT NOT NULL, 
    type paymenttype NOT NULL, 
    methode VARCHAR(50) NOT NULL, 
    statut paymentstatus NOT NULL, 
    stripe_intent_id VARCHAR(255), 
    date_paiement TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(booking_id) REFERENCES bookings (id)
);

INSERT INTO alembic_version (version_num) VALUES ('ae41889d5623') RETURNING alembic_version.version_num;

COMMIT;

